

 .profile-header {
    transform: translateY(5rem);
}




a:link, a:visited, a:active {
    text-decoration:none;
}

#edituser{
    color: white;
 
}

.mx-auto {
justify-content: flex-start;

}


.grey{
    height: 5cm;
    background-color: rgb(29, 29, 39);
    border-radius: 5px;
}

.white{
    height:2cm;
    background-color: rgb(238, 234, 234);
}



.picturebutton{
    margin-top: -5cm;
    display: flex;
    flex-direction: column;
    margin-left: 1cm;

   
}


.cover{
   
    margin:0.8cm;
    margin-top: 2cm;
}

.section{
    /* height: 1000px; */
    background-color: white;
    margin-left:0.8cm;
    margin-right: 0.8cm;
    margin-top: -0.2cm;
    display: flex;
    
    flex-wrap: wrap;
}

#cards-party2{
    margin:20px;
  
}

#profileimage{
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
  
}

button{
    border-radius: 2px;
    color: rgb(255, 255, 255);
    border-width: 0ch;
    background-color: rgb(29, 29, 39);
}

.partiescreated{
   
    margin-left: 20px;
}

.titleprofile{
    margin: 40px;
}