body {
    font-family: 'Roboto',
        sans-serif;
        text-decoration: none;
}

.card{
    margin-bottom: 0px;
    width: 50vw;
}
.image{
    border-radius:15px;
    width: 300px;
}

.party-info{
    margin-bottom: 50px;
}

.content{
    width: 1000px;
}
.hr1 {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1)
}
.rating{
    margin-top: 10px;
}



.content p{
    color: #969696;
    font-size: 15px;
    font-weight:100;
    padding: 0px;
}

.content span{
    color: #969696;
    display: block
}